div {
    outline: none;
}

svg {
    outline: none;
}


.chart {
  height: 500px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: black;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}
